<div class="item">
  <a class="ui tiny image" href="<%= url_for(card) %>">
    <img src="<%= card.image_url %>">
  </a>
  <div class="content">
    <a href="<%= url_for(card) %>" class="header"><%= card.name %></a>
    <div class="description"><%= card.text %></div>
    <div class="extra">
      <% card.mana_symbols.each do |m| %>
        <img src="http://mtgimage.com/symbol/mana/<%= m %>/32.png">
      <% end %>
    </div>
  </div>
</div>
